@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Varela+Round&display=swap');
html{
    width: 100%;
    height: 100%;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    
}
.error {
    font-family: 'Varela Round', sans-serif;
    color: red;

}
label{
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    font-weight: bold;
   
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #7b67c3; */
    background-image: linear-gradient(to right, #7b67c3,#451ad3);
}
.card{
    width: 70%;
    height: 85%;
    /* background-color: lightcoral; */
}
.top{
    width: 100%;
    height: 15%;
   
    display: flex;
    align-items: center;
    justify-content: center;
   
}
h2{
    font-family: 'Varela Round', sans-serif;
    font-size: 35px;
    color: white;
    margin: 0;
}
.bottom{
    width: 100%;
    height: 85%;
   
}
.content{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
   
    display: flex;
    justify-content: space-around;
}
.frm{
    width: 47%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
form{
    width: 95%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;

}
.pro{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.amt{
    width: 80%;
    height: 20%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.bt{
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: center;
    
}
button{
    width: 100%;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 5px;
    background-color: #451ad3;
    background-image: linear-gradient(to right,#008cff,#451ad3);

    

}
input{
    width: 100%;
    height: 20%;
    border: none;
    font-size: 17px;
    border-bottom: 1px solid;
    /* height: 90%; */
}
h3{
    font-family: 'Varela Round', sans-serif;
   
    font-size: 20px;

}
/* --------------------Left-side of card (cart calculations)----------------------------- */
.data{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.data-top{
    width: 90%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightslategray;
}
.data-list{
    width: 90%;
    max-height: 240px;
   /* display: flex;
   flex-direction: column; */
    overflow-y: auto;
    border-bottom: 1px solid lightslategray ;

}

.fa-solid fa-trash{
    width: 30%;
    color: red;
}

.listdata{
    width: 90%;
    height: 60px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
   
}

.newItem{
    width: 90;
    height: 60px;
     display: flex; 
     align-items: center;
    justify-content: space-between; 
}
.even{
    background-color: lightgrey;
}
#up{
    cursor: pointer;
}

h5{
    font-size: 17px;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

.total{
    width: 90%;
    display: flex;
    justify-content: space-between;
}

